---

---

<section>
  <div class="container">
    <div
      class="row row-cols-1 row-cols-lg-5 row-cols-md-3 row-cols-sm-2 clients-style-06 justify-content-center"
    >
      <!-- start client item -->
      <div class="col client-box text-center md-mb-35px">
        <a href="#"
          ><img src="/src/images/logo-walmart.svg" class="h-35px" alt="" /></a
        >
      </div>
      <!-- end client item -->
      <!-- start client item -->
      <div class="col client-box text-center md-mb-35px">
        <a href="#"
          ><img src="/src/images/logo-logitech.svg" class="h-35px" alt="" /></a
        >
      </div>
      <!-- end client item -->
      <!-- start client item -->
      <div class="col client-box text-center md-mb-35px">
        <a href="#"
          ><img src="/src/images/logo-monday.svg" class="h-35px" alt="" /></a
        >
      </div>
      <!-- end client item -->
      <!-- start client item -->
      <div class="col client-box text-center sm-mb-35px">
        <a href="#"
          ><img src="/src/images/logo-google.svg" class="h-35px" alt="" /></a
        >
      </div>
      <!-- end client item -->
      <!-- start client item -->
      <div class="col client-box text-center">
        <a href="#"
          ><img src="/src/images/logo-paypal.svg" class="h-35px" alt="" /></a
        >
      </div>
      <!-- end client item -->
    </div>
  </div>
</section>
