---

---

<!-- start header -->
<header>
  <!-- start navigation -->
  <nav
    class="navbar navbar-expand-lg header-light bg-white header-reverse glass-effect"
  >
    <div class="container-fluid">
      <div class="col-auto col-lg-2 me-lg-0 me-auto">
        <a href="index.html" class="navbar-brand">
          <img
            src="src/images/logo-blue.png"
            data-at2x="src/images/logo-blue@2x.png"
            alt="logo-white"
            class="default-logo"
          />
          <img
            src="src/images/logo-blue.png"
            data-at2x="src/images/logo-blue@2x.png"
            alt=""
            class="alt-logo"
          />
          <img
            src="src/images/logo-blue.png"
            data-at2x="src/images/logo-blue@2x.png"
            alt=""
            class="mobile-logo"
          />
        </a>
      </div>
      <div class="col-auto col-lg-8 menu-order position-static">
        <button
          class="navbar-toggler float-start"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-line"></span>
          <span class="navbar-toggler-line"></span>
          <span class="navbar-toggler-line"></span>
          <span class="navbar-toggler-line"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarNav"
        >
          <ul class="navbar-nav alt-font">
            <li class="nav-item">
              <a class="nav-link" href="#">ホーム</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">団体概要</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">リソース</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">お問い合わせ</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-auto text-end d-none d-sm-flex">
        <div class="header-icon">
          <div class="header-button">
            <a
              href="mailto:info@domain.com"
              class="btn border-1 btn-transparent-light-gray btn-medium left-icon btn-switch-text"
            >
              <span>
                <span><i class="fa-regular fa-envelope"></i></span>
                <span class="btn-double-text" data-text="Send a message"
                  >お問い合わせ</span
                >
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- end navigation -->
</header>
