---
import "swiper/css/bundle";
const slides = [
  {
    image: "src/images/demo-branding-agency-slider-01.jpg",
  },
  {
    image: "src/images/demo-branding-agency-slider-02.jpg",
  },
  {
    image: "src/images/demo-branding-agency-slider-03.jpg",
  },
];
---

<section
  class="p-0 full-screen ipad-top-space-margin position-relative overflow-hidden md-h-auto"
>
  <div class="container-fluid p-0 h-100 position-relative">
    <div class="row h-100 g-0">
      <!-- Left Content -->
      <div
        class="col-xl-5 col-lg-6 d-flex justify-content-center flex-column ps-10 xxl-ps-5 xl-ps-2 md-ps-0 position-relative order-2 order-lg-1"
      >
        <div
          class="border-start border-color-extra-medium-gray ps-60px ms-100px lg-ps-30px lg-ms-70px position-relative z-index-9 sm-ps-30px sm-pe-30px sm-ms-0 border-0"
          data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <h1
            class="text-dark-gray fw-600 alt-font outside-box-right-10 xl-outside-box-right-15 ls-minus-4px sm-ls-minus-2px md-me-0"
          >
            次世代と共に歩む75年<br />
            キリストの愛を、日本のキャンパスへ
          </h1>
          <p class="w-75 mb-35px lg-w-90 sm-w-100">
            日本Campus Crusade for Christは1963年の設立以来、
            全国の大学と協力し、学生の成長を支える超教派のキリスト教団体です。
            世界190カ国以上で展開するCruの日本支部として、
            安全で実りある学生活動を展開しています。
          </p>
          <a
            href="#"
            class="btn btn-extra-large btn-gradient-fuel-yellow-blue fw-400"
            >Let's chat - Send a message</a
          >
        </div>
      </div>
      <div
        class="col-xl-7 col-lg-6 position-relative swiper-number-pagination-progress md-h-500px order-1 order-lg-2 md-mb-50px"
      >
        <div
          class="swiper h-100 banner-slider magic-cursor drag-cursor"
          data-slider-options='{ "slidesPerView": 1, "loop": true, "pagination": { "el": ".swiper-number-line-pagination", "clickable": true }, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "autoplay": { "delay": 4000, "stopOnLastSlide": true, "disableOnInteraction": false },"keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "fade" }'
          data-swiper-number-pagination-progress="true"
        >
          <div class="swiper-wrapper">
            {
              slides.map((slide) => (
                <div class="swiper-slide">
                  <div
                    class="position-absolute left-0px top-0px w-100 h-100 cover-background background-position-center-top"
                    style={`background-image:url(${slide.image});`}
                  />
                </div>
              ))
            }
          </div>
          <!-- start slider pagination -->
          <div
            class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets d-block d-sm-none"
          >
          </div>
          <!-- end slider pagination -->
        </div>
      </div>
    </div>
  </div>
</section>
